@media (max-width: 1875px) {
    header {
        background-position: right;
        background-size: cover;
    }
}

@media (max-width: 1600px) {
    header {
        background-position: right;
        background-size: cover;
    }
    .dark_header_for_mobile {
        background-color: rgb(0, 0, 0, .25);
    }
}

@media (max-width: 1307px) {
    .page_six,
    .page_five,
    .page_seven,
    .page_eight,
    .page_nine {
        padding: 10px;
    }
    .second_content {
        flex-wrap: wrap-reverse;
    }
    .page_six .partners_block {
        padding: 0;
    }
    .page_six .title_and_logo {
        margin-bottom: 49px;
    }
    .break {
        flex-basis: 100%;
    }
    .s_l {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .second_content {
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }
    .f2 img {
        min-height: 4px;
    }
    .content_right {
        margin: 30px 0;
    }
    .menu a {
        margin-right: 25px;
    }
    header {
        background-position: right;
        background-size: cover;
    }
    .dark_header_for_mobile {
        background-color: rgb(0, 0, 0, .4);
    }
    section.page_six {
        margin-top: 100px;
    }
    section.page_seven {
        margin-top: 150px;
    }
    section.page_eight {
        margin-top: 120px;
    }
    section.page_nine {
        margin-top: 60px;
    }
}

@media (min-width: 1160px) {
    .page_five_all_cards {
        justify-content: space-between;
        flex-direction: row;
    }
    .page_five_card {
        max-width: 340px;
        width: 100%;
        min-width: 350px;
        text-align: center;
        margin-bottom: 80px;
    }
}

@media (max-width: 1160px) {
    .page_five_all_cards {
        align-items: center;
    }
}

@media (min-width: 1000px) {}

@media (max-width: 1000px) {
    .page_eight_teachers {
        flex-wrap: wrap;
        justify-content: center;
    }
    .page_six .title_and_logo {
        margin-bottom: 49px;
    }
    .l_img {
        min-width: 340px;
        max-width: 526px;
    }
    .l_img img {
        width: 100%;
    }
    .r_text h2 {
        font-size: 36px;
        line-height: 130%;
    }
    .r_text p {
        font-size: 14px;
    }
    .page_four_progress_bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .procent_title {
        margin-bottom: 150px;
    }
    .under_text {
        line-height: 140%;
        margin: 0 auto;
        max-width: 350px;
        font-size: 18px;
        padding: 130px 10px 40px 10px;
    }
    .pc1._active,
    .pc2._active,
    .pc3._active,
    .pc4._active {
        transition: all .9s ease .5s;
        -webkit-transition: all .9s ease .5s;
        -moz-transition: all .9s ease .5s;
        -o-transition: all .9s ease .5s;
    }
    .bar_1._active,
    .bar_2._active,
    .bar_3._active,
    .bar_4._active {
        opacity: 1;
        min-width: 324px;
        transition: all 1s ease 0s;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    .bar_1,
    .bar_2,
    .bar_3,
    .bar_4 {
        opacity: 0;
    }
    .header_burger_icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 50px;
        height: 40px;
        cursor: pointer;
        position: fixed;
        left: 90%;
    }
    .header_burger_icon._active span {
        transform: scale(0) translate(0px, -50%);
        -webkit-transform: scale(0) translate(0px, -50%);
        -moz-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
        -o-transform: scale(0) translate(0px, -50%);
    }
    .header_burger_icon._active::before {
        top: 50%;
        transform: rotate(-50deg) translate(0px, -50%);
        -webkit-transform: rotate(-50deg) translate(0px, -50%);
        -moz-transform: rotate(-50deg) translate(0px, -50%);
        -ms-transform: rotate(-50deg) translate(0px, -50%);
        -o-transform: rotate(-50deg) translate(0px, -50%);
    }
    .header_burger_icon._active::after {
        bottom: 50%;
        transform: rotate(50deg) translate(0px, 50%);
        -webkit-transform: rotate(50deg) translate(0px, 50%);
        -moz-transform: rotate(50deg) translate(0px, 50%);
        -ms-transform: rotate(50deg) translate(0px, 50%);
        -o-transform: rotate(50deg) translate(0px, 50%);
    }
    .header_burger_icon span,
    .header_burger_icon::before,
    .header_burger_icon::after {
        border-radius: 15px;
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .3s ease 0s;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        background-color: #fff;
    }
    .header_burger_icon::before,
    .header_burger_icon::after {
        content: "";
    }
    .header_burger_icon::before {
        top: 0;
    }
    .header_burger_icon::after {
        bottom: 0;
    }
    .header_burger_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        -webkit-transform: scale(1) translate(0px, -50%);
        -moz-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
        -o-transform: scale(1) translate(0px, -50%);
    }
    .logo {
        z-index: 3;
        position: absolute;
    }
    .logo_prev {
        z-index: 3;
        position: fixed;
    }
    .menu {
        z-index: 2;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        padding: 100px 30px 30px 30px;
        transition: left .3s ease-out;
        -webkit-transition: left .3s ease-out;
        -moz-transition: left .3s ease-out;
        -o-transition: left .3s ease-out;
        overflow: auto;
    }
    .menu::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 100%;
        height: 80px;
        background-color: rgb(27, 27, 27);
        z-index: 3;
        transition: left .3s ease-out;
        -webkit-transition: left .3s ease-out;
        -moz-transition: left .3s ease-out;
        -o-transition: left .3s ease-out;
    }
    .menu a {
        display: flex;
        width: 100%;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 400;
    }
    .menu._active {
        left: 0;
    }
    .menus::before {
        left: 0;
    }
    .auth {
        display: none;
    }
    .logo img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 825px) {
    section.popup .imgBx {
        display: none;
    }
    section.popup .user .formBx {
        width: 100%;
    }
    .third_section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .r_text {
        margin-top: 60px;
    }
    .r_text h2 {
        font-size: 42px;
    }
    .title h1 {
        font-weight: 700;
        font-size: 54px;
        text-align: center;
    }
    .timer {
        justify-content: center;
    }
    .time {
        text-align: center;
        padding: 15px 25px;
        margin: 50px 30px 0 0;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
    }
    .dark_header_for_mobile {
        background-color: rgb(0, 0, 0, .5);
    }
    .r_text {
        margin-left: 0;
    }
    .third_section {
        padding: 100px 20px;
    }
    .l_img {
        min-width: 240px;
        max-width: 426px;
    }
    .page_six .main_title {
        margin-right: 10px;
    }
    .page_six .title_and_logo {
        margin-bottom: 49px;
    }
    .page_eight_teachers {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 690px) {
    .header_burger_icon {
        left: 85%;
    }
    .title h1 {
        font-size: 44px;
        line-height: 140%;
    }
    .timer {
        padding-bottom: 200px;
    }
    .under_header {
        padding-top: 150px;
    }
    .time {
        text-align: center;
        padding: 10px 20px;
        margin: 40px 20px 0 0;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
    }
    .time h3 {
        font-size: 28px;
    }
    .time p {
        font-size: 14px;
    }
    .page_four .main_title {
        margin-left: 20px;
        line-height: 110%;
    }
    .page_six .main_title {
        font-size: 39px;
        line-height: 120%;
        margin-left: 25px;
    }
    .page_six .page_four_logo {
        width: 100%;
        max-width: 75.3px;
    }
    .page_eight .main_title {
        font-size: 45px;
        margin-left: 19px;
        line-height: 105%;
    }
    .page_eight .page_four_logo {
        max-width: 82.3px;
    }
    .page_eight_teachers {
        padding-top: 0;
    }
    .timeline_block_desc_right,
    .timeline_block_desc {
        font-size: 16px;
    }
    .timeline_block_desc:after,
    .timeline_block_desc_right:before {
        max-width: 30px;
    }
    .timeline_block_desc:after {
        right: -45px;
    }
    .timeline_block_desc_right:before {
        left: -45px;
    }
    .page_seven_timeline_center_side {
        margin: 0 45px 0 45px;
    }
    .second_content .button_content {
        margin: 0 auto;
        min-width: 200px;
    }
    .second_content .content_lr {
        margin: 0 auto;
        min-width: 250px;
    }
    .page_nine_title {
        line-height: 109%;
    }
}

@media (max-width: 490px) {
    .second_content .button_content {
        text-align: center;
        padding-top: 34px;
    }
    .page_six .main_title {
        font-size: 37px;
        line-height: 113%;
        margin-left: 10px;
    }
    .page_six .page_four_logo {
        max-width: 63.3px;
    }
    .page_seven_main_title {
        margin-top: 35px;
    }
    .page_eight .main_title {
        font-size: 37px;
        line-height: 113%;
        margin-left: 10px;
    }
    .page_nine_form input {
        border-radius: 20px;
    }
    .page_nine_form button {
        margin-left: 0;
        margin-top: 10px;
    }
    .timeline_block_title {
        font-size: 12px;
    }
    .timeline_block_desc_right,
    .timeline_block_desc {
        font-size: 13px;
    }
    .timeline_block_desc:after,
    .timeline_block_desc_right:before {
        max-width: 10px;
        min-width: 5px;
    }
    .timeline_block_desc:after {
        right: -15px;
    }
    .timeline_block_desc_right:before {
        left: -15px;
    }
    .page_seven_timeline_center_side {
        margin: 0 15px;
        max-width: 5px;
    }
    .timeline_left_blocks,
    .timeline_right_blocks {
        min-width: 140px;
    }
    .timeline_left_blocks:last-child {
        margin-bottom: 40px;
    }
}

@media (max-width: 412px) {
    .header_burger_icon {
        left: 80%;
    }
    .title h1 {
        font-size: 38px;
        line-height: 130%;
    }
    .page_four .main_title,
    .page_six .main_title,
    .page_eight .main_title {
        margin: 30px 0 0 0;
        line-height: 110%;
        font-size: 38px;
    }
    .four_title .title_and_logo,
    .page_six .title_and_logo,
    .page_eight .title_and_logo {
        display: block;
        text-align: center;
    }
    .page_six .main_title {
        margin-top: 0;
    }
    .time {
        text-align: center;
        padding: 5px 15px;
        margin: 40px 20px 0 0;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
    }
    .time h3 {
        font-size: 26px;
    }
    .time p {
        font-size: 12px;
    }
}

@media (max-width: 412px) {
    .title h1 {
        font-size: 33px;
        line-height: 125%;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    .header_burger_icon {
        width: 45px;
        height: 30px;
    }
    .time {
        margin-right: 10px;
    }
    section.page_five {
        margin-top: 100px;
    }
}